/* .section-top{
    width: 100%;
    height: 100vh;
    background-image: url(../../../../public/Bangladeshi\ Bhorta.jpg);
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 20s infinite ease-in-out;
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
}

@keyframes change{
    0%{
        background-image: url(../../../../public/Bangladeshi\ sweets.jpeg);
        
    }
    20%{
        background-image: url(../../../../public/dhoi.webp);
    }
    40%{
        background-image: url(../../../../public/Shorshe\ Ilish.webp);
    }
    60%{
        background-image: url(../../../../public/fuchka.webp);
    }
    80%{
        background-image: url(../../../../public/hallem.webp);
    }
    100%{
        background-image: url(../../../../public/panta\ bhat.webp);
    }
} */
.section-top {
    width: 100%;
    height: 100vh;
    background-image: url(../../../../public/Bangladeshi\ Bhorta.jpg);
    overflow: hidden;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 30s infinite ease-in-out;
}
.contents{
    position: absolute;
}
.content {
    
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
}

.word{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
}

.word1{
    animation: food1 30s infinite;
}
.word2{
    animation: food2 30s infinite;
}
.word3{
    animation: food3 30s infinite;
}
.word4{
    animation: food4 30s infinite;
}
.word5{
    animation: food5 30s infinite;
}
.word6{
    animation: food6 30s infinite;
}

@keyframes food1 {
    0% {
        opacity: 1;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }

    100%{
        opacity: 0;
    }
    
}
@keyframes food2 {
    0%{
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40%{
        opacity: 0.;
    }
    60%{
        opacity: 0.;
    }
    80%{
        opacity: 0.;
    }
    100%{
        opacity: 0;
    }
}
@keyframes food3 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes food4 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes food5 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes food6 {
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
}

@keyframes change {
    0% {
        background-image: url('https://images.squarespace-cdn.com/content/v1/5ea5f3913b0ccf06d0ec2563/1591993279471-E5115ADA5EZCQLBY3UFB/10.jpeg');

    }

    20% {
        background-image: url('https://sinfullyspicy.com/wp-content/uploads/2023/06/1200-by-1200-images-5.jpg');
    }

    40% {
        background-image: url('https://lh6.googleusercontent.com/proxy/yN54EkuNcHLadviLRjpBSQSbnm_ZMCPiS47IuQRBjesc4HQU2KiqBXP_n9XAv8Z2clEsFZ2N9ys4_UQuOqnrEmHdj2IMEDEk7XheUBLYcyoeJtYqsFeVE5henwJ55ho');
    }

    60% {
        background-image: url('https://i.ytimg.com/vi/3BJ9duwy--c/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLAIajOVF5kvTRjb9BcpK73YqAHCSQ');
    }

    80% {
        background-image: url('https://www.ndtv.com/cooks/images/Haleem%282%29.jpg');
    }

    100% {
        background-image: url('https://assets.telegraphindia.com/telegraph/2023/Jun/1686911168_lead.jpg');
    }
}